/* work sans font for Gogole font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,600&display=swap');
/* shared style */
*{
  font-family: 'Work Sans', sans-serif;
}

.btn-primary{
  
}
/* header style */
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-tittle{
font-size: 3rem;
font-weight: 700;
color: #131313;
}

nav > ul {
  display: flex;
}

nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a{
  text-decoration: none;
  color: #424242;
}

/* banner content */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-tittle{
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-decription{
  color: #727272;
}